.jqx-rc-tl-openit
{
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}
.jqx-rc-tr-openit
{
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}
.jqx-rc-bl-openit
{
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}
.jqx-rc-br-openit
{
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
/*top rounded Corners*/
.jqx-rc-t-openit
{
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}
/*bottom rounded Corners*/
.jqx-rc-b-openit
{
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
/*right rounded Corners*/
.jqx-rc-r-openit
{
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}
/*left rounded Corners*/
.jqx-rc-l-openit
{
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}
/*all rounded Corners*/
.jqx-rc-all-openit
{
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.jqx-widget-openit {
    font-family: Tahoma, sans-serif;;
}
.jqx-widget-content-openit{font-family: Tahoma, sans-serif; border-color: #d4d4d4; color: #444444; background-color: #fff;}
.jqx-widget-header-openit{font-family: Tahoma, sans-serif; color: #444444; border-color:#d4d4d4; background-color:#ffffff;         }

.jqx-fill-state-normal-openit{font-family: Tahoma, sans-serif; border-color: #ababab; color: #444444; background: #fdfdfd;}
.jqx-button-openit {border-color: #ababab;}
.jqx-fill-state-hover-openit{border-color:#E3E0D0; color: #000; background-color:#F0EEE4;}
.jqx-input-openit, .jqx-input-button-content-openit {border-color: #ababab;}
.jqx-fill-state-focus-openit, .jqx-combobox-content-focus-openit, .jqx-numberinput-focus { border-color: #E3E0D0; }
.jqx-fill-state-pressed-openit{border-color:#CECCBC; color: #000; background-color:#E3E0D0;}

.jqx-scrollbar-state-normal-openit, .jqx-grid-bottomright-openit, .jqx-panel-bottomright-openit, .jqx-listbox-bottomright-openit{background-color:#f3f3f3;}
.jqx-widget-openit .jqx-grid-column-header-openit, .jqx-grid-cell-openit, .jqx-widget-openit .jqx-grid-cell-openit, .jqx-widget-openit .jqx-grid-group-cell-openit, .jqx-grid-group-cell-openit{font-family: Tahoma, sans-serif; border-color:#f3f3f3;}
.jqx-tabs-title-bottom-openit, .jqx-tabs-title-openit{color: #666666;}
.jqx-tabs-title-hover-bottom-openit, .jqx-tabs-title-hover-top-openit{color: #217346; background-color: transparent; border-color: transparent;}
.jqx-tabs-title-selected-bottom-openit, .jqx-tabs-selection-tracker-bottom-openit, .jqx-tabs-title-selected-top-openit, .jqx-tabs-selection-tracker-top-openit{font-weight: bold; color: #217346; border-color:#d4d4d4; border-bottom:1px solid #fff; background:#fff}
.jqx-grid-cell-sort-alt-openit, .jqx-grid-cell-filter-alt-openit, .jqx-grid-cell-pinned-openit, .jqx-grid-cell-alt-openit, .jqx-grid-cell-sort-openit{ background-color:#ededed; color: #000;}
.jqx-menu-vertical-openit{background: #fff; border-color: #d4d4d4;}
.jqx-widget-openit .jqx-grid-cell-openit, .jqx-widget-openit .jqx-grid-column-header-openit, .jqx-widget-openit .jqx-grid-group-cell-openit {color: #000; border-color: #d4d4d4;}
.jqx-widget-openit .jqx-grid-column-menubutton-openit, .jqx-widget-openit .jqx-grid-column-sortascbutton-openit, .jqx-widget-openit .jqx-grid-column-sortdescbutton-openit, .jqx-widget-openit .jqx-grid-column-filterbutton-openit {
    background-color: transparent;
    border-color: #d4d4d4;
}
 .jqx-input-button-header-openit, .jqx-calendar-title-header-openit, .jqx-grid-openit .jqx-widget-header-openit, .jqx-grid-header-openit, .jqx-grid-column-header-openit, .jqx-grid-openit {font-family: calibri; border-color: #ababab; color: #444444; background: #fff; font-size: 1.05em;}
.jqx-window-header-openit{font-family: Tahoma, sans-serif;; color: #444444; background: #e9f1fd;}
.jqx-grid-column-menubutton {
    background-image: url('images/openit-icon-down.png');
 }
.jqx-widget-openit .jqx-grid-cell-selected-openit, .jqx-grid-cell-selected-openit{ background-color:#c6c6c6; border-color: #a5a5a5;  color:#000}
.jqx-grid-cell-hover-openit{ background-color:#dedede;}
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton {
    background-image: url('images/openit-icon-up.png');
 }
.jqx-grid-column-sortdescbutton {
    background-image: url('images/openit-icon-down.png');
}
.jqx-checkbox-hover-openit {
    background-color: #fff;
}
.jqx-radiobutton-hover-openit {
    background-color: #fff;
}
.jqx-scrollbar-thumb-state-normal-horizontal-openit, .jqx-scrollbar-thumb-state-normal-openit {
    background: #ffffff; border-color: #ababab;
}
.jqx-scrollbar-thumb-state-hover-horizontal-openit, .jqx-scrollbar-thumb-state-hover-openit {
    background: #f0f0f0; border-color: #ababab;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-openit, .jqx-scrollbar-thumb-state-pressed-openit {
    background: #f0f0f0; border-color: #777777;
}
.jqx-scrollbar-button-state-normal-openit
{
    border: 1px solid #ababab; 
    background: #fff;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-openit
{
    border: 1px solid #777777;
    background: #fff;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-openit
{
    border: 1px solid #777777;
    background: #f0f0f0;
}

/*icons*/
.jqx-window-collapse-button-openit
{
    background-image: url(images/openit-icon-up.png);
}
.jqx-window-collapse-button-collapsed-openit {
  background-image: url(images/openit-icon-down.png);
}
.icon-arrow-up-openit
{
    background-image: url('images/openit-icon-up.png');
}
.icon-arrow-down-openit
{
    background-image: url('images/openit-icon-down.png');
}
.icon-arrow-left-openit
{
    background-image: url('images/openit-icon-left.png');
}
.icon-arrow-right-openit
{
    background-image: url('images/openit-icon-right.png');
}
.jqx-tabs-arrow-left-openit
{
    background-image: url('images/openit-icon-left.png');
}
.jqx-tabs-arrow-right-openit
{
    background-image: url('images/openit-icon-right.png');
}
.jqx-menu-item-arrow-up-selected-openit, .icon-arrow-up-selected-openit{background-image:url('images/openit-icon-up.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-openit, .icon-arrow-down-selected-openit{background-image:url('images/openit-icon-down.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-openit, .icon-arrow-left-selected-openit{background-image:url('images/openit-icon-left.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-openit, .icon-arrow-right-selected-openit{background-image:url('images/openit-icon-right.png');background-repeat:no-repeat;background-position:center;}
.jqx-tabs-close-button-openit{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-selected-openit{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-hover-openit{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-expander-arrow-bottom-openit,.jqx-scrollbar-openit .icon-arrow-up-selected-openit{background-image:url('images/openit-icon-up.png'); background-repeat:no-repeat; background-position:center;}
.jqx-expander-arrow-top-openit, .jqx-scrollbar-openit .icon-arrow-down-selected-openit{background-image:url('images/openit-icon-down.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-openit .icon-arrow-left-selected-openit{background-image:url('images/openit-icon-left.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-openit .icon-arrow-right-selected-openit{background-image:url('images/openit-icon-right.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-slider-openit
{
}
.jqx-slider-button-openit
{
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}
.jqx-input-button-content-openit
{  
    font-size: 10px;
}

.jqx-dropdownlist-state-normal-openit, .jqx-dropdownlist-state-hover-openit, .jqx-dropdownlist-state-selected-openit,
.jqx-scrollbar-button-state-hover-openit, .jqx-scrollbar-button-state-normal-openit, .jqx-scrollbar-button-state-pressed-openit,
.jqx-scrollbar-thumb-state-normal-horizontal-openit, .jqx-scrollbar-thumb-state-hover-horizontal-openit, .jqx-scrollbar-thumb-state-pressed-horizontal-openit,
.jqx-scrollbar-thumb-state-normal-openit, .jqx-scrollbar-thumb-state-pressed-openit, .jqx-button-openit, .jqx-tree-item-hover-openit, .jqx-tree-item-selected-openit,
.jqx-tree-item-openit, .jqx-menu-item-openit, .jqx-menu-item-hover-openit, .jqx-menu-item-selected-openit, .jqx-menu-item-top-openit, .jqx-menu-item-top-hover-openit, 
.jqx-menu-item-top-selected-openit, .jqx-slider-button-openit, .jqx-slider-slider-openit
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-openit {
    -moz-border-radius: 0; 
    -webkit-border-radius: 0; 
    border-radius: 0;
    border: 2px solid #a6a6a6;
}
.jqx-switchbutton-thumb-openit {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-openit {
    background: #CECCBC;
    color: #CECCBC;
}
.jqx-switchbutton-label-off-openit {
    background: #a6a6a6;
    color: #a6a6a6;
}

.jqx-switchbutton-wrapper-openit {
}