/*Cost catalog*/
td.value
{
	white-space: nowrap; 
	overflow: hidden; 
	font-family: Consolas, "Lucida Console", Monospace;
}

td.value select,
td.value input,
input.datefield
{
	font-family: Consolas, "Lucida Console", Monospace;
}

input.valueinput,
input.datefield
{
	text-align: right;
}

table#pricelist td.changed
{
    background-color: #AAFFAA;
}


fieldset form label
{
	cursor: pointer;
	display: inline;
	float:none;
	margin-right:0.5em;
	text-align:left;
	width:auto;	
}

#pricelist tr.odd.ui-selected
{
    background-color: #FFE299;
}

#pricelist tr.even.ui-selected
{
    background-color: #FFDA7D;
}

#pricelist tr.odd.ui-selecting
{
    background-color: #FFF1CC;
}

#pricelist tr.even.ui-selecting
{
    background-color: #FFE9B3;
}

#pricelist th
{
    white-space: nowrap;
}

#pager, #pagerlimit, #pagerver
{
    margin: 0.5em 1em 0.5em 1em;
}

.pagertitle {
    margin-left: 0.7em;
}

table#pricelist.list input[type=text]
{
	padding: 2px 4px;
	border: none;
	background-color: transparent;
}

div.ui-selectable-helper
{
    display: none;
}

#data
{
	font-family: "Consolas", "Lucida Console", monospace;
	width: 100%;
}

.hidefield
{
    display:none;
    
}

.showfield
{
    font-family: "Consolas", "Lucida Console", monospace;    
    font-size: 11px;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#fff;
	border-radius:2px;
	color:#000;
	font-size:9px Arial;
	z-index: 1000;
}

#catalognewrow
{
    background-color: transparent;    
}

.text-right {
    text-align: right;
} 

.ui-autocomplete {
     height: 100px; 
     overflow-y: scroll; 
     overflow-x: hidden;
     font-size: 11px;
     float: left;
}

#success
{
    background-color: #EEFFEE;
    border: 1px solid #00AA00;
}

#failed
{
    background-color: #FFEEEE;
    border: 1px solid #AA0000;
}

#success, #failed
{
    padding: 5px;
    margin-bottom: 10px;
}

select {
    padding: 3px;
    line-height: 1;
    border: 1px solid #e5e5e5;
    background: url(../../../../Content/Css/jqwidgets/images/openit-icon-down.png) no-repeat right #fff;
    -webkit-appearance: none;
}

.app_unit {
    background-position-x: 70px;
}

.stor_unit
{
    background-position-x: 75px;
    width: 95px;
}

#delimiter {
    width: 58px;
    background-position-x: 38px;
}

#format {
    width: 90px;
    background-position-x: 70px;
}

#quote {
    width: 38px;
    background-position-x: 18px;
}

#AppCostTextAreaDiv,
#StorCostTextAreaDiv {
    display: none;
}

.table-appcost{
    max-width: 100%;
}

.app_unit {
    width: 90px;
}

.maxlength{
    width: 100%;
}

#catalogbody tr td:nth-child(2) {
    white-space: nowrap;
}

.table-appcost tr th:nth-child(2){
     width: 10%;
}

.table-appcost tr th:nth-child(3){
     width: 15%;
}

.table-appcost tr th:nth-child(3){
     width: 35%;
}


#catalogbody tr td:nth-child(2),
#catalogbody tr td:nth-child(3), 
#catalogbody tr td:nth-child(4) {
   text-align: right
}

#alloctype_column{
    width: 80px;
}

.table-storagecost tr th:nth-child(4) {
    width: 60%;
}

.table-storagecost tr:not(:last-child) td:nth-child(2),
.table-storagecost tr:not(:last-child) td:nth-child(3) {
    width: 15%;
}

.table-storagecost tr:not(:last-child) td:nth-child(4) {
    width: 20%;
}

.table-storagecost tr:not(:last-child) td:nth-child(5) {
    width: 50%;
    white-space: nowrap;
}

.alloctype{
    width: 80px;
}

#catalogbody tr:last-child td:nth-child(2),
#catalogbody tr:last-child td:nth-child(3), 
#catalogbody tr:last-child td:nth-child(4), 
#catalogbody tr:last-child td:nth-child(5) {
   text-align: right
}

.invertToggLink {
    display: none;
}