/*Cost catalog*/
td.value
{
	white-space: nowrap; 
	overflow: hidden; 
	font-family: Consolas, "Lucida Console", Monospace;
}

td.value select,
td.value input,
input.datefield
{
	font-family: Consolas, "Lucida Console", Monospace;
}

input.valueinput,
input.datefield
{
	text-align: right;
}

/*table#pricelist td.changed
{
    background-color: #AAFFAA;
}*/


fieldset form label
{
	cursor: pointer;
	display: inline;
	float:none;
	margin-right:0.5em;
	text-align:left;
	width:auto;	
}

#pricelist tr.odd.ui-selected
{
    background-color: #FFE299;
}

#pricelist tr.even.ui-selected
{
    background-color: #FFDA7D;
}

#pricelist tr.odd.ui-selecting
{
    background-color: #FFF1CC;
}

#pricelist tr.even.ui-selecting
{
    background-color: #FFE9B3;
}

#pricelist th
{
    white-space: nowrap;
}

#pager
{
    margin: .5em;
}

table#pricelist.list input[type=text]
{
	padding: 2px 4px;
	border: none;
	background-color: transparent;
}

table#userMapping.list input[type=text]
{
	padding: 2px 4px;
	border: none;
	background-color: transparent;
}

div.ui-selectable-helper
{
    display: none;
}

#data
{
	font-family: "Consolas", "Lucida Console", monospace;
	width: 100%;
}

.hidefield
{
    display:none;
    
}

.showfield
{
    font-family: "Consolas", "Lucida Console", monospace;    
    font-size: 11px;
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid #333;
	background-color:#fff;
	border-radius:2px;
	color:#000;
	font-size:9px Arial;
	z-index: 1000;
}

#catalognewrow
{
    background-color: transparent;    
}

.ui-autocomplete {
     height: 100px; 
     overflow-y: scroll; 
     overflow-x: hidden;
     font-size: 11px;
     float: left;
}