@import url('../css/Navigation.css');
@import url('../css/Tables.css');

html,
body
{
	padding: 0;
	margin: 0;
	background-color: #E3E0D0;
}

body
{
	background: url( '../Images/reporter-bg.png' ) no-repeat center top;
}

#header
{
	height: 70px;
	position: relative;
	z-index: 10;
}

h1#logo
{
	position: absolute;
	margin: 0;
	padding: 0;
	left: 25px;
}

    h1#logo a {
        display: block;
        text-indent: -999em;
        left: 45px;
        width: 193px;
        height: 70px;
        background: url( '../Images/openit_logo.gif' ) no-repeat;
    }

#mainmenu
{
	position: absolute;
	bottom: 0;
	left: 220px;
	margin-top: 1em;
	clear: both;
}

#splash
{
	width: 750px;
	margin: 10px 0 3px 30px;
}

#content
{
	padding: 30px;
	background-color: white;
}

div.tableOverflow {
	padding-bottom: 16px;
	overflow-x: auto;
	overflow-y: hidden;
}

* html div.tableOverflow {
	width: 90%;
}

#footer
{
	clear: both;
	margin: 0 0 1em 0;
	background: #E3E0D0;
	height: 4em;
	border-top: 1px solid #CFCCBD;
	padding: .5em 0 0 30px;
}

body,
input,
select,
textarea,
button
{
	font-family: Tahoma, sans-serif;
	font-size: 10pt;
}

body
{
	line-height: 1.5em;
}

a
{
	color: #0590E3;
	text-decoration: none;
}

a img
{
	border: none;
}

a:hover
{
	text-decoration: underline;
	color: orange;
}

a.button
{
    background: url( '../Images/white-grad.png' ) repeat-x scroll left top #F2F2F2;
    color: #464646;
    line-height: 15px;
    font-size: 11px;
    padding: 4px 8px 5px 24px;
    white-space: nowrap;
    text-decoration: none;
    -moz-box-sizing: content-box;
    border-radius: 5px;
    border-color: #DFDFDF;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    position: relative;
}

a.button:hover
{
    text-decoration: none;
    border-color: #ADACA7;
    color: #000000;
}

a.button:active
{
    background: url( '../Images/white-grad-active.png' ) repeat-x scroll left top #EEEEEE;
}

a.button img
{
    position: absolute;
    top: 3px;
    left: 4px;
    border: 0;
}


#content h1,
#content h2
{
	font-weight: normal;
	margin: 0 0 .2em 0;
	clear: both;
	font-variant: small-caps;
}

#content h1
{
	font-size: 1.7em;
}

#content h2
{
	font-size: 1.5em;
}

#content h3
{
	font-size: 1.3em;
}

p
{
	margin: 1em 0 1em 0;
}

ul
{
	margin: 0;
	padding: 0;
}

ul li
{
	margin-left: 1.5em;
}

#footer p
{
	margin: 0;
	padding: 0;
}

#footer a,
#footer p
{
	color: gray;
}

#content .caption
{
	font-size: .9em;
	font-style: italic;
	margin: .3em 1em 1em 1em;
}

#subnavigation
{
	float: left;
	width: 18%;
	margin-right: 2%;
}

#subcontents
{
	float: right;
	width: 79%;
}

form
{
	padding: 0;
	margin: 0;
}

fieldset
{
	margin: 0 0 1em 0;
	border: 1px solid #BBB;
	padding: 0 1em;
}

fieldset legend img 
{
	vertical-align: top;
	margin: 2px 0;
}

fieldset ol
{
	clear: both;
	margin: 0;
	list-style-type: none;
	padding: 1em 0 0 0;
}

fieldset ol.secondary
{
	padding: 0;
}


fieldset ol li
{
	padding: 0;
	margin: 0 0 1em 0;
	clear: both;
}

fieldset ol li.last
{
	margin: 0;
}


fieldset label
{
	display: block;
	cursor: pointer;
	text-align: right;
	float: left;
	margin-right: 1em;
	width: 7em;
}

fieldset ol li span.formfield_control
{
	white-space: nowrap;
}

fieldset.filters ol li
{
	float: left;
	width: 15em;
	clear: none;
	margin: 0 1em 1em 0;
}

fieldset.filters ol li select
{
	width: 15em;
	display: block;
	border: 1px solid #cfccbd;
	margin: 0;
}

fieldset.filters ol li label
{
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #cfccbd;
	text-align: center;
	display: block;
	float: none;
	width: auto;
	margin: 0;
	background-color: #f3f1e0;
	padding: 0 .5em;
}

label input
{
	vertical-align: top;
}

dl
{
	margin: 0 0 1em 0;
}

#loading
{
	position: absolute;
	background-color: #CC0000;
	padding: .2em .5em;
	color: #FFFFFF;
	top: 0;
	right: 0;
}

.AspNet-GridView table,
table.grid
{
	border-collapse: collapse;
	border-width: 1px 0px 0px 1px;
	border-color: #DDDDDD;
	border-style: solid;
}

.AspNet-GridView table td,
.AspNet-GridView table th,
table.grid td, 
table.grid th
{
	border-width: 0px 1px 1px 0px;
	border-color: #DDD;
	border-style: solid;
	padding: .1em .2em;
}

table.grid th
{
	background-color: #777;
	color: White;
}

.AspNet-GridView-Alternate,
tr.even
{
	background-color: #EEEEEE;
}

.AspNet-GridView-Edit input
{
	width: 98%;
}

#usageList td
{
	font-size: x-small;
	padding: .2em;
	white-space: nowrap;
}

.button
{
	border: 1px solid #cfccbd;
	background-color: #f3f1e0;
	height: 1.8em;
}

.application_console
{
	position: relative;
	padding: .5em;
	background-color: #e4e1d2;
	margin: 0 0 2px 0;
}


.clearer
{
	clear: both;
}

.application_console .application_label
{
	cursor: pointer;
	margin-left: .5em;
	font-size: 1.3em;
}

.application_console .expand_application_button
{
	width: 5em;
}

.application_console .filters .button
{
}

.application_console .content
{
	clear: both;
	font-size: 8pt;
	line-height: 1.5em;
	background-color: #e4e1d2;
	padding: 1em;
}

.application_console .content select,
.application_console .content input
{
	font-size: 8pt;
}

.application_console .content .view
{
	clear: both;
	background-color: #f3f1e0;
	background-color: white;
	border: 1px solid #cfccbd;
	padding: 1em;
}

.application_console .content .menu-Horizontal
{
	position: relative;
	height: 2.5em;
}

.application_console .content .menu-Horizontal ul
{
	position: absolute;
	bottom: 0;
	left: 1em;
}

table#appconsolecontenttable
{
	border-width: 1px 1px 1px 0;
	border-style: solid;
	width: 100%;
	border-color: #EEEEEE;
}

table#appconsolecontenttable #colone,
table#appconsolecontenttable #coltwo
{
	width: 50%;
	border-left: 1px solid #EEEEEE;
}

table#appconsolecontenttable #colthree
{
	width: 320px;
	border-left: 1px solid #EEEEEE;
}

table#appconsolecontenttable .columncontent
{
	padding: 10px;
}

table#appconsolecontenttable #featuretable
{
	border-left: 1px solid #EEEEEE;
}

table#appconsolecontenttable #featurechart
{
	width: 418px;
	border-left: 1px solid #EEEEEE;
}

.application_console p
{
	margin: .5em 0;
}

.applicationallocationmodel .distribution,
.applicationallocationmodel .distribution select,
.applicationallocationmodel .distribution input
{
	line-height: normal;
	font-size: 7pt;
}

.applicationallocationmodel
{
	background-color: #e4e1d2;
	margin: 0 0 2px 0;
	border: 1px solid #DDD;
	padding: 1em;
}

.rightaligned
{
	text-align: right;
}

.topleft
{
	text-align: left;
	vertical-align: top;
}

.AutoCompleteExtenderDropDownMenu
{
	list-style: none;
	background: none;
	margin: 0;
	padding: 0;
	background-color: White;
	border-color: #DDDDDD;
	border-width: 1px;
	border-style: solid;
}

.AutoCompleteExtenderDropDownItem,
.AutoCompleteExtenderDropDownSelectedItem
{
	list-style: none;
	background: none;
	margin: 0;
	padding: .1em .4em;
	background-color: White;
}

.AutoCompleteExtenderDropDownSelectedItem
{
	background-color: #65b4e3;
	color: White;
}

div.ajax__calendar_days table tr td
{
	padding-right: 0px;
	padding-left: 0px;
	background-color: White;
	color: Black;
}

.checkbox label,
.checkbox input
{
	vertical-align: top;
}

.pointer_default
{
	cursor: pointer;
	cursor: hand;
}

.statusindicator label
{
}

.statusindicator img
{
	vertical-align: middle;
}

.statusindicator
{
	padding: .2em;
}
.FeatureMappingDropDownList option
{
	background-color: #FFFFFF;
}

.FeatureMappingDropDownList option.isUsed
{
	background-color: #DDDDDD;
}

#newbudgetform li label
{
	width: 6em;
	background-color: #FFFFFF;
}

.FeatureMappingDropDownList option.isUsed
{
	background-color: #EEEEEE;
}

fieldset#nonebasedtypesview label
{
	width: 25em;
}

#flash
{
    background-color: white;
    position: relative;
    padding: 0 10%;
}

.flash
{
	text-align: left;
	width: 80%;
	position: absolute;
	padding: .3em 1em;
	font-size: 9pt;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    border-color: #DFDFDF;
    cursor: default;
    box-shadow: 1px 1px 1px #ccc;
}

.info
{
    border-color: #00AA00;
	background-color: #EEFFEE;
}

.error
{
	border-color: #AA0000;
	background-color: #FFEEEE;
}

.flash-superError
{
    border-color: #CD0000;
	background-color: #EEB4B4;
}



.inplaceeditor-form .editor_field
{
	width: 80%;
}

.inplaceeditor-form .editor_ok_button
{
	padding: 0 .5em;
	margin: 0 .5em;
}

.pointer
{
	cursor: pointer;
}


div.auto_complete
{
	position: absolute;
	min-width: 10em;
	background-color: white;
	border: 1px solid #888;
	margin: 0;
	padding: 0;
}

div.auto_complete ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div.auto_complete ul li.selected
{
	background-color: #ffb;
}

div.auto_complete ul li
{
	background: none;
	list-style-type: none;
	display: block;
	margin: 0;
	padding: .1em .4em;
	cursor: pointer;
}

fieldset legend img
{
	margin-right: .5em;
	vertical-align: middle;
}


div.warning
{
	border: 2px solid #e33b00;
	background-color: #fff3ef;
}

div.important
{
	border: 2px solid #d4a90b;
	background-color: #fbf6e3;
}

div.tip
{
	border: 2px solid #0bd410;
	background-color: #effbef;
}

div.note
{
	border: 2px solid #287dfb;
	background-color: #eff4fb;
}

div.important,
div.warning,
div.note,
div.tip
{
	padding: .5em;
	margin: 1em;
}

div.important p,
div.warning p,
div.note p,
div.tip p
{
	padding: 0;
	margin: .5em;
}

div.important h3,
div.warning h3,
div.note h3,
div.tip h3
{
	border: none;
	margin: 0;
	font-style: italic;
}

div.example
{
	/*	background-color: #f9fff9; */
	border-left: .5em solid #9bd49c;
	padding: 0 1em;
	margin-left: 2em;
}

div.example p.title
{
	margin-top: 0;
}

.inplaceeditor-form textarea.editor_field
{
	font-family: Consolas, "Lucida Console", monospace;
	padding: .5em;
	border: 1px solid #B6B6B6;
	background-color: #FAFAFA;
	width: 95%;
}

a.editor_ok_link
{
	margin-right: 1em;
}

.auto_complete .match
{
	color: #CC0000;
}

#banner-header,
#banner-footer
{
	text-align: center;
	position: fixed;
	height: 2em;
	width: 100%;
	background-color: #F99;
	z-index: 100;
	opacity: .7;
	filter: alpha(opacity=70);
}

#banner-header p,
#banner-footer p
{
	margin: 0.4em 0 0 0;
	position: relative;
}

#banner-header 
{
	top: 0;
}

#banner-footer
{
	bottom: 0;
}

body.with-banners
{
	 margin-top: 2em;
}


