/* This is the CSS for the index.aspx */





legend {
	vertical-align: middle;
	margin-bottom: .25em;
	margin-top: .25em;
	padding: .25em;
	color: #4C6177;
}

#closeAllWindow {
    display: none;
    float: right;
}

.jqx-expander-header-content {
	min-width: 94%;
    width: 100%;
}



.product-body-details,
.product-body {
	padding: 1em;
}

.product-body-details {
	margin-bottom: 1em;
}

.distinct-users {
	float: right;
	margin-right: 50px;
}




-wrapper {
	padding-left: 1.9em;
	padding-right: 2px;
}

.feature-row-header {
    background-color: #FFF4D8;
    color: #d34e22; 
    font-family: Calibri; 
    font-size: 1.2em; 
    text-align: center;
    width: 100%;
}

.feature-usage-label {
	position: absolute;
	left: 0;
	font-size: 10px;
	text-align: center;
	width: 100%;
	z-index: 1000;
}


/* This is the CSS for the userdetails.aspx */

.user-details-head {
    height: 31px !important;
    min-width: 250px;
}


div.user-details-caption {
	font-weight: bold;
	white-space: nowrap;
    text-align: right;
}





/*CSS for License Manager's Meta Data */
.daemon-status {
	margin-top: 3px;
	margin-bottom: -2px;
	padding-right: 5px;
	float: left;
	z-index: 1;
}

.button-lmp {
border:1px solid #e3e3e3; -webkit-border-radius: 2px; -moz-border-radius: 2px;border-radius: 2px;font-size:11px !important;font-family:arial, helvetica, sans-serif; padding: 5.5px 5.5px 5.5px 5.5px; text-decoration:none; display:inline-block; color: #7F7F7F;
 background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FCFCFC));
 background-image: -webkit-linear-gradient(top, #FFFFFF, #FCFCFC);
 background-image: -moz-linear-gradient(top, #FFFFFF, #FCFCFC);
 background-image: -ms-linear-gradient(top, #FFFFFF, #FCFCFC);
 background-image: -o-linear-gradient(top, #FFFFFF, #FCFCFC);
 background-image: linear-gradient(to bottom, #FFFFFF, #FCFCFC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#FCFCFC);
}

.button-lmp:hover{
 border:1px solid #cccccc;
 background-color: #e6e6e6; background-image: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#e3e3e3));
 background-image: -webkit-linear-gradient(top, #e6e6e6, #e3e3e3);
 background-image: -moz-linear-gradient(top, #e6e6e6, #e3e3e3);
 background-image: -ms-linear-gradient(top, #e6e6e6, #e3e3e3);
 background-image: -o-linear-gradient(top, #e6e6e6, #e3e3e3);
 background-image: linear-gradient(to bottom, #e6e6e6, #e3e3e3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e6e6e6, endColorstr=#e3e3e3);
 color: #000000;
}

.button-lmp:link,
.button-lmp:active,
.button-lmp:visited{
 text-decoration:none;
}




#headtitle {
    background-image: url('../Icons/Timezones.png');
    background-repeat: no-repeat;
    background-size: 22px;
    font-family: Open Sans;
    padding-left: 27px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

#headtitle span {
    position: absolute;
    bottom: 0px;    
}

a.navbar-brand 
{
   	font-weight: bold;
}

a.navbar-brand img
{
    float: left; 
    margin-right: 2px;

}

navbar-collapse 
{
    padding-left: 0;    
     padding-right: 0; 
}


.dashboard-add-icon 
{
    right: 10px;
    position: relative;
    top: 15px;
    float: right;
}    

 .navbar-collapse 
{
    padding-left: 0;    
    padding-right: 0;  
}

.dashboard-owner-label img,
.dashboard-label img 
{
    padding-right: 7px;
    top:-2px; 
    position: relative;
}

div#portletContent label.dashboard-label 
{
   text-align: left; 
	width: 60%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.dashboard-label,
.dashboard-owner-label {
     padding-top: 7px;
     line-height: 24px;
}

.dashboard-label {
    font-size: 16px; 
    padding-left: 12px;
}
.dashboard-owner-label {
    float: right;
    padding-right: 10px;
}
.dashboard-label img {
    height: 20px;
}

#jqxInputLabel,
#jqxInputThreshold
{
    width:100%;    
}

#layoutContainer div.col-lg-12,
#layoutContainer div.col-lg-6,
#layoutContainer div.col-lg-4 {
    
   }
.portlet-header
{
    background-color: #9c9c9c;
    color: #fff;
    border: 1px solid #9c9c9c;
    border-bottom: 1px solid #7c7b7b;
}
 
.portlet-1 {
    background-color: #9c9c9c;
    color: #fff;
    border: 1px solid #9c9c9c;
    border-bottom: 1px solid #7c7b7b;
    background-image: -webkit-linear-gradient(top, #b4b4b4 , 0%, #7c7b7b, 100%);
    background-image: -moz-linear-gradient(top, #b4b4b4 0%, #7c7b7b 100%);
    background-image: linear-gradient(to bottom, #b4b4b4 0%, #7c7b7b 100%);
    
 
}
.portlet-2{background-color: white;color: black;}
.portlet-3{background-color: white;color: black;}
.portlet-4{background-color: white;color: black;}
.portlet-5{background-color: white;color: black;}
.portlet-6{background-color: white;color: black;}
.portlet-7{background-color: white;color: black;}
.portlet-8{background-color: white;color: black;}
.portlet-9{background-color: white;color: black;}
.portlet-10{background-color: white;color: black;}
.portlet-11{background-color: white;color: black;}
.portlet-12{background-color: white;color: black;}

.panel-container {
    padding-top: 5px !important;
    padding-left: 5px!important;
}

.dashboard-desc 
{
    padding-left: 25px;
    font-style: italic;
}
.dashboard-desc:first-letter 
{
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) 
{
    .toogle-wrapper {
        display:none;
    }

    .dashboard-row 
    {
        margin: 0;
    }



    .navbar-dashboard-toogle 
    {
     margin-right: 15px;
    border: none;
    }


    #portletContent 
    {
        top: 0;
        position: relative;
        display: block;
        left: 0px;
        border: none;
    }

    .portletContent-innerdiv 
    {
        margin: 0 !important;
       
    }

    #layoutContainer 
    {   
        padding: 5px;
    }   
    
    .dashboard-nav 
    {
        display: block;
        width: calc(100% + 10px);
        margin-left: -10px;
        height: initial;
    }

    
    #subnavigation
    {
	    width: inherit;
        
	}

    #layoutContainer table 
    {
        width: 100%;    

    }

    .dashboard-row 
    {
        display: block;    
    }
    
    div#dashboards ul.vertical-menu
    {
        
        padding-top: 0;      
    }


    #toggleNavigation 
    {
        display:none;
    }

    div#addDashboard .-content 
    {    
        width: 80%;
    }

     .navbar-collapse 
    {
        padding-left: 15px;    
        padding-right: 15px;  
    }

    .dashboard-tools 
    {
        display: block !important;
    }

    div.dashboard-tools a:nth-of-type(2) 
    {
        display:none;
    } 

    .dashboard-add-icon
    {
        display: none;
    }

    .dashboard-icon 
    {
        right: 5px;
    }
     
    label.dashboard-owner-label 
    {
         font-size: 0;

    }

     div#dashboards ul.vertical-menu li 
    {
        
        padding-left:10px;
        padding-right: 10px;
    }
   
    .dashboard-icon img 
    {
       /*padding-right: 10px;*/ 
    }


    /*2018-07-19*/
}

.iinput_h
{
    top: 72px;
    position: absolute;
    right: 15px; 
    width: 230px;
    text-align: right;
}

.iinput_e
{
    bottom: 22px;
    position: absolute;
    left: -80px;
    width: 230px;
    text-align: right;
}

.IFooter {
    height: 29px;
    border-top: 1px solid #d4d4d4;
    background-color: #f6f5f0;
    padding: 5px;
}

.floatRight > label,
.floatRight > input,
.floatRight > div
{
    float: right;
    white-space: pre;
}

.pInstanceDrpDown 
{
    float: right;  
    margin-right: 15px;  
}


/*.jqx-widget-content {
    overflow-x: hidden!important;
}*/

#horizontalScrollBaredit-firstContainer,
#horizontalScrollBaredit-secondContainer,
#horizontalScrollBaredit-thirdContainer,
#horizontalScrollBaredit-fourthContainer,
#horizontalScrollBaredit-fifthContainer
{
    display: none !important;
}