ul.menu 
{
	z-index: 100;
	margin: 0;
	padding: 0;
}

ul.menu li 
{
	list-style: none;
	background: none;
	padding: 0;
	margin: 0;
	width: auto;
	position: relative;
	float: left;
}

ul.menu li ul 
{
	display: none;
	position: absolute;
}

ul.menu li li
{
	padding-bottom: 0px; 
	float: none;
}

/* fix the position */
ul.menu li ul ul 
{
	top: -1px;
	left: 100%;
}

/* simulate child selector for IE6 */
ul.menu li.parent:hover ul,
ul.menu li.parent:hover li.parent:hover ul,
ul.menu li.parent:hover li.parent:hover li.parent:hover ul 
{
	display: block;
}

ul.menu li.parent:hover li ul,
ul.menu li.parent:hover li.parent:hover li ul,
ul.menu li.parent:hover li.parent:hover li.parent:hover li ul 
{
	display: none;
}

/* do the normal show, with increased specificity */
ul.menu li.parent:hover > ul 
{
	display: block;
}

ul.menu a.link,
ul.menu span.nonlink
{
	display: block;
	padding: .4em 1em;
	color: black;
	text-decoration: none;
}

ul.menu li.level0
{
	margin-right: .5em;
}

ul.menu li.level0:hover,
ul.menu li.level0.active,
ul.menu li.level0:hover a.link.level0,
ul.menu li.level0.active a.link.level0.active,
ul.menu li.level0:hover span.nonlink.level0,
ul.menu li.level0.active span.nonlink.level0.active
{
	cursor: pointer;
	cursor: hand;
	background: url('../Images/mainnavbg.gif') no-repeat;
}

ul.menu li.level0:hover,
ul.menu li.level0.active 
{
	background-position: 0 -200px;
}

ul.menu li.level0:hover a.link.level0,
ul.menu li.level0.active a.link.level0.active,
ul.menu li.level0:hover span.nonlink.level0,
ul.menu li.level0.active span.nonlink.level0.active 
{
	background-position: 100% -200px;
}

ul.menu a.link.level0.parent:hover,
ul.menu span.nonlink.level0.parent:hover 
{
	text-decoration: underline;
}

ul.menu li.parent:hover
{
	background-position: 0 0px;
}

ul.menu li.parent.level0:hover a.link.parent.level0,
ul.menu li.parent.level0:hover span.nonlink.parent.level0 
{
	background-position: 100% 0px;
}

ul.menu li ul 
{
	background-color: #f0eee4;
	border: 1px solid #ceccbc;
	border-top: none;
}

ul.menu li ul ul 
{
	border: 1px solid #ceccbc;
}

ul.menu ul a.link,
ul.menu ul span.nonlink
{
	width: 13em;
}

ul.menu ul a.link,
ul.menu ul span.nonlink
{
	background-image: none;
}

ul.menu li li:hover,
ul.menu li li.active
{
	background: #e3e0d0;
}

ul.menu ul li.active a.link.active,
ul.menu ul li.active span.nonlink.active
{
	background: #e3e0d0;
}


ul.menu ul a.link.parent,
ul.menu ul span.nonlink.parent,
ul.menu ul li.active a.link.active.parent,
ul.menu ul li.active span.nonlink.active.parent

{
	background: url('../Images/arrow_darkgray.gif') no-repeat right 50%;
}

#subnavigation ul.vertical-menu
{
	list-style: none;
	border-color: #EEEEEE;
}


#subnavigation ul.vertical-menu li
{
	margin: 0;
	display: block;
	padding: .5em 1em;
	background-color: #F7F7F7;
	list-style: none;
	border-top: 1px solid #EEEEEE;
}

#subnavigation ul.vertical-menu li a
{
	color: #444444;
}

#subnavigation ul.vertical-menu li img
{
	vertical-align: text-bottom;
	margin-right: .5em;
}

ul.vertical-menu li.active
{
	font-weight: bold;
}

#subnavigation h3
{
	color: #444444;
	background-color: #F7F7F7;
	border-top: 1px solid #EEEEEE;
	display: block;
	list-style: none outside none;
	margin: 0;
	padding: 0.5em 1em;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 8pt;
	text-align:left;
}
