.jqx-widget-ProductLabeling {
    font-family: Tahoma, sans serif
}
.jqx-widget-content-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    background: #fff;
    font-family: Tahoma, sans serif
}
.jqx-widget-header-ProductLabeling,
.jqx-grid-ProductLabeling .jqx-widget-header-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    background-color: #f3f1e0;
    background-image: -moz-linear-gradient(top, #f3f1e0, #f3f1e0);
    background-image: -ms-linear-gradient(top, #f3f1e0, #f3f1e0);
    background-image: -o-linear-gradient(top, #f3f1e0, #f3f1e0);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#f3f1e0), to(#f3f1e0));
    background-image: -webkit-linear-gradient(top, #f3f1e0, #f3f1e0);
    background-image: linear-gradient(top, #f3f1e0, #f3f1e0);
    background-image: linear-gradient(to bottom, #f3f1e0, #f3f1e0);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: Tahoma, sans serif
}
.jqx-grid-column-menubutton-ProductLabeling,
.jqx-widget-ProductLabeling.jqx-grid-column-menubutton-ProductLabeling {
    border-color: #aaa
}
.jqx-grid-cell-ProductLabeling,
.jqx-widget-ProductLabeling .jqx-grid-cell-ProductLabeling {
    background-color: #fff;
    color: #222;
    text-shadow: none
}
.jqx-fill-state-normal-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #fff, #fff);
    background-image: -ms-linear-gradient(top, #fff, #fff);
    background-image: -o-linear-gradient(top, #fff, #fff);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#fff));
    background-image: -webkit-linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(top, #fff, #fff);
    background-image: linear-gradient(to bottom, #fff, #fff);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: Tahoma, sans serif
}
.jqx-button-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #efefef, #efefef);
    background-image: -ms-linear-gradient(top, #efefef, #efefef);
    background-image: -o-linear-gradient(top, #efefef, #efefef);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
    background-image: -webkit-linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(to bottom, #efefef, #efefef);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: Tahoma, sans serif
}
.jqx-grid-selectionarea-ProductLabeling {
    border-color: #aaa;
    background-color: #fff
}
.jqx-widget-ProductLabeling .jqx-grid-cell-sort-ProductLabeling,
.jqx-widget-ProductLabeling .jqx-grid-cell-filter-ProductLabeling,
.jqx-widget-ProductLabeling .jqx-grid-cell-pinned-ProductLabeling,
.jqx-grid-cell-sort-ProductLabeling,
.jqx-grid-cell-filter-ProductLabeling,
.jqx-grid-cell-pinned-ProductLabeling {
    background-color: transparent;
    color: #222;
    text-shadow: none
}
.jqx-widget-ProductLabeling .jqx-grid-cell-alt-ProductLabeling,
.jqx-widget-ProductLabeling .jqx-grid-cell-sort-alt-ProductLabeling,
.jqx-widget-ProductLabeling .jqx-grid-cell-pinned-alt-ProductLabeling,
.jqx-widget-ProductLabeling .jqx-grid-cell-filter-alt-ProductLabeling,
.jqx-grid-cell-alt-ProductLabeling,
.jqx-grid-cell-sort-alt-ProductLabeling,
.jqx-grid-cell-filter-alt-ProductLabeling {
    background-color: #f9f9f9;
    color: #222;
    text-shadow: none
}
.jqx-fill-state-hover-ProductLabeling,
.jqx-widget-ProductLabeling .jqx-grid-cell-hover-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #999;
    background-color: #e3e0d0;
    background-image: -moz-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: -ms-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: -o-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#e3e0d0), to(#e3e0d0));
    background-image: -webkit-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: linear-gradient(to bottom, #e3e0d0, #e3e0d0);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: Tahoma, sans serif
}
.jqx-fill-state-pressed-ProductLabeling,
.jqx-widget-ProductLabeling .jqx-grid-cell-selected-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #999;
    background-color: #e3e0d0;
    background-image: -moz-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: -ms-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: -o-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#e3e0d0), to(#e3e0d0));
    background-image: -webkit-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: linear-gradient(to bottom, #e3e0d0, #e3e0d0);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    font-family: Tahoma, sans serif
}
.jqx-switchbutton-label-on-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #999;
    background-color: #e3e0d0;
    background-image: -moz-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: -ms-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: -o-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#e3e0d0), to(#e3e0d0));
    background-image: -webkit-linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: linear-gradient(top, #e3e0d0, #e3e0d0);
    background-image: linear-gradient(to bottom, #e3e0d0, #e3e0d0);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}
.jqx-tabs-title-selected-top-ProductLabeling,
.jqx-tabs-selection-tracker-top-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    border-bottom: 1px solid #fff;
    background-image: none;
    background-color: #fff
}
.jqx-tabs-title-selected-bottom-ProductLabeling,
.jqx-tabs-selection-tracker-bottom-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    border-top: 1px solid #fff;
    background-image: none;
    background-color: #fff
}
.jqx-splitter-splitbar-hover-ProductLabeling {
    background: #e3e0d0
}
.jqx-splitter-splitbar-vertical-ProductLabeling,
.jqx-splitter-splitbar-horizontal-ProductLabeling,
.jqx-slider-track-horizontal-ProductLabeling,
.jqx-slider-track-vertical-ProductLabeling {
    background: #fff
}
.jqx-splitter-collapse-button-horizontal-ProductLabeling,
.jqx-splitter-collapse-button-vertical-ProductLabeling,
.jqx-slider-rangebar-ProductLabeling {
    background: #e3e0d0
}
.jqx-scrollbar-state-normal-ProductLabeling {
    background-color: #efefef;
    border-color: #efefef
}
.jqx-grid-bottomright-ProductLabeling,
.jqx-panel-bottomright-ProductLabeling,
.jqx-listbox-bottomright-ProductLabeling {
    background-color: #efefef
}
.jqx-scrollbar-thumb-state-normal-ProductLabeling {
    background-color: #efefef;
    background-color: #efefef;
    background-image: -moz-linear-gradient(left, #efefef, #efefef);
    background-image: -ms-linear-gradient(left, #efefef, #efefef);
    background-image: -o-linear-gradient(left, #efefef, #efefef);
    background-image: -webkit-gradient(linear, left top, right top, from(#efefef), to(#efefef));
    background-image: -webkit-linear-gradient(left, #efefef, #efefef);
    background-image: linear-gradient(left, #efefef, #efefef);
    background-image: linear-gradient(left right, #efefef, #efefef)
}
.jqx-scrollbar-thumb-state-normal-horizontal-ProductLabeling {
    background-color: #efefef;
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #efefef, #efefef);
    background-image: -ms-linear-gradient(top, #efefef, #efefef);
    background-image: -o-linear-gradient(top, #efefef, #efefef);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
    background-image: -webkit-linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(to bottom, #efefef, #efefef);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}
.jqx-scrollbar-thumb-state-hover-ProductLabeling {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    background-image: -moz-linear-gradient(left, #e8e8e8, #e8e8e8);
    background-image: -ms-linear-gradient(left, #e8e8e8, #e8e8e8);
    background-image: -o-linear-gradient(left, #e8e8e8, #e8e8e8);
    background-image: -webkit-gradient(linear, left top, right top, from(#e8e8e8), to(#e8e8e8));
    background-image: -webkit-linear-gradient(left, #e8e8e8, #e8e8e8);
    background-image: linear-gradient(left, #e8e8e8, #e8e8e8);
    background-image: linear-gradient(left right, #e8e8e8, #e8e8e8)
}
.jqx-scrollbar-thumb-state-hover-horizontal-ProductLabeling {
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    background-image: -moz-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -ms-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -o-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: linear-gradient(to bottom, #e8e8e8, #e8e8e8);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}
.jqx-scrollbar-thumb-state-pressed-ProductLabeling {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
    background-image: -moz-linear-gradient(left, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(left, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(left, #d1d1d1, #d1d1d1);
    background-image: -webkit-gradient(linear, left top, right top, from(#d1d1d1), to(#d1d1d1));
    background-image: -webkit-linear-gradient(left, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(left, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(left right, #d1d1d1, #d1d1d1)
}
.jqx-scrollbar-thumb-state-pressed-horizontal-ProductLabeling {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
    background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}
.jqx-scrollbar-button-state-normal-ProductLabeling {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #efefef, #efefef);
    background-image: -ms-linear-gradient(top, #efefef, #efefef);
    background-image: -o-linear-gradient(top, #efefef, #efefef);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#efefef), to(#efefef));
    background-image: -webkit-linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(top, #efefef, #efefef);
    background-image: linear-gradient(to bottom, #efefef, #efefef);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}
.jqx-scrollbar-button-state-hover-ProductLabeling {
    background-color: #e8e8e8;
    border-color: #aaa;
    background-image: -moz-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -ms-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -o-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#e8e8e8), to(#e8e8e8));
    background-image: -webkit-linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: linear-gradient(top, #e8e8e8, #e8e8e8);
    background-image: linear-gradient(to bottom, #e8e8e8, #e8e8e8);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}
.jqx-scrollbar-button-state-pressed-ProductLabeling {
    background-color: #d1d1d1;
    border-color: #909090;
    background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#d1d1d1), to(#d1d1d1));
    background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-background-clip: padding-box
}
.jqx-radiobutton-check-checked-ProductLabeling {
    background: #111;
    width: 7px;
    height: 7px;
    margin-left: 2px;
    margin-top: 2px;
    border-width: 1px;
    border-style: solid
}
.jqx-rc-tl-ProductLabeling {
    -moz-border-radius-topleft: 0px;
    -webkit-border-radius-topleft: 0px;
    border-radius-topleft: 0px
}
.jqx-rc-tr-ProductLabeling {
    -moz-border-radius-topright: 0px;
    -webkit-border-radius-topright: 0px;
    border-radius-topright: 0px
}
.jqx-rc-bl-ProductLabeling {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius-bottomleft: 0px;
    border-radius-bottomleft: 0px
}
.jqx-rc-br-ProductLabeling {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-radius-bottomright: 0px;
    border-radius-bottomright: 0px
}
.jqx-rc-t-ProductLabeling {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px
}
.jqx-rc-b-ProductLabeling {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px
}
.jqx-rc-r-ProductLabeling {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px
}
.jqx-rc-l-ProductLabeling {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px
}
.jqx-radiobutton-default-ProductLabeling,
.jqx-radiobutton-ProductLabeling,
.jqx-radiobutton-check-checked-ProductLabeling,
.jqx-radiobutton-hover-ProductLabeling,
.jqx-radiobutton-check-indeterminate-ProductLabeling,
.jqx-radiobutton-check-indeterminate-disabled-ProductLabeling,
.jqx-slider-button-ProductLabeling {
    -moz-border-radius: 100%!important;
    -webkit-border-radius: 100%!important;
    border-radius: 100%!important
}
.jqx-rc-all-ProductLabeling,
.jqx-tooltip-ProductLabeling,
.jqx-tooltip-text-ProductLabeling,
.jqx-tooltip-main-ProductLabeling {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px
}

.jqx-menu-vertical-ProductLabeling {
    background: #fff
}

.jqx-widget-ProductLabeling .jqx-grid-column-header-ProductLabeling,
.jqx-widget-ProductLabeling .jqx-grid-cell-ProductLabeling,
.jqx-widget-ProductLabeling .jqx-grid-group-cell-ProductLabeling,
.jqx-grid-cell-ProductLabeling {
    border-color: #aaa
}

.jqx-tooltip-ProductLabeling,
.jqx-tooltip-main-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    background-color: #efefef
}
.jqx-combobox-content-ProductLabeling,
.jqx-input-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #aaa;
    background-color: #fff
}
.jqx-combobox-input-ProductLabeling {
    color: #222;
    text-shadow: none
}
.jqx-input-content-ProductLabeling {
    color: #222;
    text-shadow: none;
    background-color: #fff
}
.jqx-fill-state-focus-ProductLabeling,
.jqx-popup-ProductLabeling .jqx-fill-state-focus-ProductLabeling {
    border-color: #111
}
.jqx-popup-ProductLabeling.jqx-listbox-ProductLabeling,
.jqx-popup-ProductLabeling.jqx-calendar-ProductLabeling,
.jqx-menu-dropdown-ProductLabeling,
.jqx-popup-ProductLabeling.jqx-dropdownbutton-popup-ProductLabeling {
    color: #222;
    text-shadow: none;
    border-color: #111;
    background-color: #fff
}

.jqx-widget-ProductLabeling .jqx-grid-cell-ProductLabeling,
.jqx-listitem-state-normal-ProductLabeling,
.jqx-menu-item-normal-ProductLabeling,
.jqx-tree-item-normal-ProductLabeling,
.jqx-calendar-cell-ProductLabeling,
.jqx-grid-cell-ProductLabeling,
.jqx-menu-vertical-ProductLabeling .jqx-menu-item-top-normal-ProductLabeling,
.jqx-input-popup-ProductLabeling .jqx-fill-state-normal-ProductLabeling {
    font-family: Tahoma, sans serif
}
.jqx-widget-ProductLabeling .jqx-grid-cell-hover-ProductLabeling,
.jqx-listitem-state-hover-ProductLabeling,
.jqx-menu-item-hover-ProductLabeling,
.jqx-tree-item-hover-ProductLabeling,
.jqx-calendar-cell-hover-ProductLabeling,
.jqx-grid-cell-hover-ProductLabeling,
.jqx-menu-vertical-ProductLabeling .jqx-menu-item-top-hover-ProductLabeling,
.jqx-input-popup-ProductLabeling .jqx-fill-state-hover-ProductLabeling,
.jqx-input-button-header-ProductLabeling,
.jqx-input-popup-ProductLabeling .jqx-fill-state-pressed-ProductLabeling,
.jqx-input-button-header-ProductLabeling {
    font-family: Tahoma, sans serif
}
.jqx-widget-ProductLabeling .jqx-grid-cell-selected-ProductLabeling,
.jqx-listitem-state-selected-ProductLabeling,
.jqx-menu-item-selected-ProductLabeling,
.jqx-tree-item-selected-ProductLabeling,
.jqx-calendar-cell-selected-ProductLabeling,
.jqx-grid-cell-selected-ProductLabeling,
.jqx-menu-vertical-ProductLabeling .jqx-menu-item-top-selected-ProductLabeling,
.jqx-grid-selectionarea-ProductLabeling {
    font-family: Tahoma, sans serif
}


